target
*.iml
nb-configuration.xml
*.classpath
.project
*.prefs
*.component
Calculator/.settings/org.eclipse.wst.common.project.facet.core.xml
Rekenmachine/.settings/org.eclipse.wst.common.project.facet.core.xml
